

<h1>Teachers</h1>

<h2>Search by Year:</h2>
  <%= form_tag(survey_index_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
  
  <% @teacher.each do |teacher| %>
    <ul>
      <li><%= link_to teacher.name, survey_path(teacher) %></li><br>
    </ul>
  <% end %>