<h1>Listing Teachers</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
  </tr>
 
  <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.name %></td>
      <td><%= teacher.year %></td>
      
    </tr>
  <% end %>
</table>
