<h1>Welcome to our App!</h1>
<p>Welcome to our app! It is called <b>TeacherTinder</b> (name subject to change) and 
this app is designed to match students with their professors. We will match 
students with complementary professors, who not only teach in a way the student 
can relate to but who also match their pacing. users can change the weights on 
different traits for their own personal preference Criteria for teachers: 
Patience, Clarity, Organization, Years experience, Teaching style 
(i.e. flipped classroom, visual vs auditory, etc.) Curriculum design, 
Instructional assessment, Availability after class, Communication outside of 
class, Engagement, and Flexibility</p>
<br>
<div><%= link_to 'Search By Year', survey_index_path %></div>
