// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: black;
    font-family: verdana;
    font-size: 32px;
    text-align: center;
}

body {
    background-color: #E8D5D5;
}

p {
    border-style: double;
    margin-right: 150px;
    margin-left: 100px;
}

div {
    text-align: center;
}

div {
    text-align: center;
}
